{% extends "layout.html" %}
{% block content %}
    <h1>Announcements        <a href="{{ url_for('new_announcement') }}">
    <button>Make announcement</button></a></h1>
    {% for announcement in announcements %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">{{ announcement.title }}</a></h2>
            <p class="article-content">{{ announcement.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}