{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">{{ team.name }}</h2>
        <p class="article-content">{{ team.description }}</p>
      </div>
    </article>
    <h3>Team Members</h3>
    {% for user in users %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('team', team_name=team.name) }}">{{ user.username }}</a></h2>
            <p class="article-content">{{ user.email }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}